node_modules
**/node_modules

.git
.codex
.wrangler

coverage
**/coverage
dist
**/dist
build
**/build
out
**/out

.next
**/.next
.turbo
**/.turbo
.cache
**/.cache

**/.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*
